.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.background-box {
  background: linear-gradient(135deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-box {
  background: rgba(160, 155, 155, 0.7);
  height: 20vh;
  width: 96vw;
  margin: 2vh 2vw;
  display: flex;
  border-radius: 100px;
}

.bottom-box {
  background: rgba(44, 42, 42, 0.7);
  height: 70vh;
  width: 96vw;
  margin: 2vh 2vw;
  display: flex;
  border-radius: 100px;
}

.image-links {
  padding: 4vh 2vw;
  height: 10vh;
  object-fit: contain;
}

body {
  margin: 0;
}
